@charset "UTF-8";
/*escritorio*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  body {
    background-color: black;
    background-image: none; } }

/*ipad*/
@media only screen and (max-width: 767px) and (min-width: 320px) {
  body {
    background-color: white;
    background-image: none; } }

/*mobile*/
@media only screen and (max-width: 320px) {
  body {
    background-color: orange;
    background-image: none; } }

/*desde AQUI VA EL index*/
.index {
  background-color: #F2F2F0; }

.encabezado {
  color: #F2F2F0;
  background-color: #D9CDBF;
  text-align: center;
  font-style: italic;
  font-family: 'Darker Grotesque', sans-serif; }

.encabezado__titulo {
  color: #403F3C;
  font-size: 80px;
  letter-spacing: 4px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center; }

.encabezado__titulo--subtitulo {
  color: #4C4E59;
  font-style: italic;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold; }

.encabezado__titulo--subtitulo1 {
  color: #BFA995;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 20px; }

.navegacion {
  margin-left: 30%;
  width: 70%;
  /*lE DOY EL TAMAÑO DE LA MITAD PARA QUE EL MARGIN SEA PAREJO DE AMBOS LADOS Y QUEDE CENTRADO*/
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center; }

ul {
  list-style: none; }

.navegacion__titulos > li {
  float: left;
  /*POSICIONO LISTA A LA IZQUIERDA*/ }

.navegacion__titulos li a {
  color: #BFA995;
  text-decoration: none;
  padding: 10px;
  display: block; }

.navegacion__titulos li a:hover {
  transform: skewx(10deg); }

.navegacion__titulos li ul {
  display: none;
  position: absolute; }

.navegacion__titulos li:hover > ul {
  display: block; }

.carousel-item {
  width: 100%;
  height: 20%;
  margin-top: 2%; }

/*HASTA AQUI VA EL index*/
/*desde AQUI VA EL MENU DE conocenos*/
.offcanvas {
  background-color: rgba(241, 241, 241, 0.75);
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px; }

.backgroundConocenos {
  background-size: 100%;
  background-position: center; }

.container-fluid2 {
  background-color: rgba(241, 241, 241, 0.5);
  width: fit-content; }

.tituloConocenos {
  color: #403F3C;
  letter-spacing: 5px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  width: fit-content;
  margin-left: 38%;
  padding: 1%;
  font-style: italic;
  font-style: bold;
  font-family: 'Darker Grotesque', sans-serif; }

.tituloConocenos__texto {
  color: #403F3C;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  width: 50%;
  height: 16vh;
  margin-left: 23%;
  padding: 1%;
  margin-bottom: 5%; }

.tituloConocenos__texto--pregunta {
  color: #403F3C;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  font-style: italic;
  width: fit-content;
  margin-left: 10%;
  margin-right: 5%;
  padding: 1%; }

.tituloConocenos__texto--respuesta {
  color: #403F3C;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  width: 50%;
  height: 8vh;
  margin-left: 23%;
  padding: 1%; }

.tituloConocenos__texto--texto {
  color: #403F3C;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  width: 50%;
  height: 8vh;
  margin-left: 23%;
  padding: 1%; }

.tituloConocenos__texto--subtexto {
  color: #403F3C;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  width: 50%;
  height: 8vh;
  padding: 1%;
  margin-left: 23%; }

.tituloConocenos__pie {
  color: #403F3C;
  font-size: 80px;
  letter-spacing: 4px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  margin-top: 10%; }

/*HASTA AQUI VA EL MENU DE conocenos*/
/*desde AQUI VA EL MENU DE NAVEGACION*/
p {
  color: white;
  font-family: 'Darker Grotesque', sans-serif; }

.tabla {
  color: #4C4E59;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: transparent;
  font-weight: bold; }

.tabla__columnas {
  font-size: 20px;
  font-weight: bold; }

.tabla__filas {
  font-style: italic;
  text-align: center; }

/*desde AQUI VA EL MENU DE enviosypagos*/
.bloque {
  display: grid;
  list-style-type: none;
  grid-template-areas: 'hoverPromos bloque__section';
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 20px; }

.bloque__section h1:hover {
  transform: skewx(30deg); }

.bloque__section--titulo {
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif;
  width: fit-content;
  list-style-type: none;
  font-size: 20px; }

.bloque__section--subtitulo {
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif; }

/*hasta AQUI VA EL MENU DE promosypagos*/
/*codigos comunes a todas las secciones*/
.goBack {
  float: right;
  font-family: 'Darker Grotesque', sans-serif;
  color: white;
  margin-bottom: 400px; }

.goBack__arrow {
  width: 100%;
  height: 6vh; }

.piedePagina {
  margin-left: 90%; }

.buscanosEn {
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 20px; }

.footer {
  margin-top: 120px;
  text-align: center;
  color: #F2F2F0;
  background-color: #D9CDBF; }

.footer__subfooter {
  text-align: center;
  color: #D9CDBF;
  background-color: transparent; }

/*desde AQUI VA EL MENU DE contacto*/
.fondoContacto {
  background-size: 100%; }

.contacto__bloque {
  font-size: 20px;
  font-style: italic;
  font-family: 'Bold Grotesque', sans-serif;
  letter-spacing: 3px;
  line-height: 18px;
  padding: 1%;
  text-align: center;
  width: fit-content;
  color: #403F3C; }

.contacto__titulo {
  font-family: 'Bold Grotesque', sans-serif;
  font-size: 18px;
  color: #403F3C; }

.contacto__sentence {
  color: #403F3C;
  font-family: 'Bold Grotesque', sans-serif;
  font-size: 85%; }

.enviar, .cancelar {
  color: #403F3C;
  background-color: transparent;
  font-family: 'Bold Grotesque', sans-serif;
  font-size: 18px; }

/*hasta AQUI VA EL MENU DE contacto*/
/*desde AQUI VA EL MENU DE productos*/
.fondoProductos {
  background-color: #F2F2F0; }

.imagenProducto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-left: 8%; }

.imagenProducto__foto {
  width: 100%;
  height: 60vh; }

.imagenProducto div p img:hover {
  transform: rotate(10deg); }

.imagenProducto__foto--cuello {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #403F3C;
  font-size: 20px;
  background-color: transparent;
  padding: 1%; }

.imagenProducto__foto--cuello1 {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 20px; }

.comprar {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #403F3C;
  font-size: 20px; }

/*hasta AQUI VA EL MENU DE productos*/
