/*media queries*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #F2F2F0; } }

@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: #F2F2F0;
    background-image: none; } }

@media only screen and (max-width: 320px) {
  body {
    background-color: #F2F2F0;
    background-image: none; } }

/*desde AQUI VA EL index*/
.index {
  background-color: #F2F2F0; }

.encabezado {
  color: #F2F2F0;
  background-color: #D9CDBF;
  text-align: center;
  font-style: italic;
  font-family: 'Darker Grotesque', sans-serif; }

.encabezado__titulo {
  color: #403F3C;
  font-size: 100px;
  letter-spacing: 4px;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center; }

.encabezado__titulo--subtitulo {
  color: #4C4E59;
  font-style: italic;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold; }

.encabezado__epigrafe {
  color: #BFA995;
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 20px; }

.navegacion {
  font-family: 'Darker Grotesque', sans-serif;
  margin-left: 31%; }

ul {
  list-style: none; }

.navegacion__titulos > li {
  float: left;
  align-items: center; }

.navegacion__titulos li a {
  color: #BFA995;
  text-decoration: none;
  padding: 10px;
  display: block; }

.navegacion__titulos li a:hover {
  transform: skewx(10deg);
  color: #403F3C; }

.navegacion__titulos li ul {
  display: none;
  position: absolute; }

.navegacion__titulos li:hover > ul {
  display: block; }

.carousel-item {
  width: 100%;
  height: 20%;
  margin-top: 2%; }

/*HASTA AQUI VA EL index*/
/*desde AQUI VA EL MENU DE conocenos*/
.navbar-toggler {
  margin-left: 1875%; }

.offcanvas {
  background-color: rgba(241, 241, 241, 0.75);
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px; }

.backgroundConocenos {
  background-size: 100%;
  background-position: center; }

.container-fluid2 {
  background-color: rgba(241, 241, 241, 0.5);
  width: fit-content; }

.tituloConocenos {
  color: #403F3C;
  font-size: 25px;
  width: fit-content;
  font-style: italic;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 1%;
  letter-spacing: 3px;
  line-height: 18px;
  text-align: left; }

/*HASTA AQUI VA EL MENU DE conocenos*/
/*desde AQUI VA EL MENU DE NAVEGACION*/
p {
  color: white;
  font-family: 'Darker Grotesque', sans-serif; }

.tabla {
  color: #4C4E59;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: transparent;
  font-weight: bold; }

.tabla__columnas {
  font-size: 20px;
  font-weight: bold; }

.tabla__filas {
  font-style: italic;
  text-align: center; }

/*desde AQUI VA EL MENU DE enviosypagos*/
.bloque__section {
  margin-left: 1%; }

.bloque__section p:hover {
  transform: skewx(15deg);
  color: #BFA995; }

.bloque__section--titulo {
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif;
  width: fit-content;
  list-style-type: none;
  font-size: 20px; }

.bloque__section--subtitulo {
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif; }

/*hasta AQUI VA EL MENU DE promosypagos*/
/*codigos comunes a todas las secciones*/
.piedePagina {
  text-align: center; }

.buscanosEn {
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 20px;
  align-items: center; }

.footer {
  margin-top: 30px;
  text-align: center;
  color: #F2F2F0;
  background-color: #D9CDBF; }

.footer__subfooter {
  text-align: center;
  color: #D9CDBF;
  background-color: transparent; }

/*desde AQUI VA EL MENU DE contacto*/
.fondoContacto {
  background-size: 100%; }

.container-fluid3 {
  background-color: rgba(241, 241, 241, 0.5); }

.contacto__bloque {
  font-style: italic;
  letter-spacing: 5px;
  line-height: 18px;
  padding: 1%;
  text-align: left;
  width: fit-content;
  color: #403F3C; }

.contacto__titulo {
  font-family: 'Bold Grotesque', sans-serif;
  font-size: 18px;
  color: #403F3C; }

.contacto__sentence {
  color: #403F3C;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px; }

.enviar, .cancelar {
  color: #403F3C;
  background-color: transparent;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  text-decoration: none;
  border-radius: 35px;
  border-style: solid; }

/*hasta AQUI VA EL MENU DE contacto*/
/*desde AQUI VA EL MENU DE productos*/
.fondoProductos {
  background-color: #F2F2F0; }

.imagenProducto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center; }

.imagenProducto__foto {
  width: 100%;
  height: 60vh; }

.imagenProducto__fotoman {
  width: 100%;
  height: 60vh; }

.imagenProducto div p img:hover {
  transform: rotate(8deg); }

.imagenProducto__foto--cuello {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #403F3C;
  font-size: 20px;
  background-color: transparent;
  padding: 1%; }

.imagenProducto__foto--cuello1 {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 20px; }

.comprar {
  list-style-type: none;
  font-family: 'Darker Grotesque', sans-serif;
  color: #403F3C;
  font-size: 20px; }

.encabezado__titulo2 {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 100px;
  letter-spacing: 4px; }

.encabezado__titulo--subtitulo2 {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  color: #BFA995;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 4px; }

/*hasta AQUI VA EL MENU DE productos*/
